# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/yaydoo_examen_backend_omar_arturo_lopez_rodriguez/node_modules
/yaydoo_examen_frontend_omar_arturo_lopez_rodriguez/node_modules
/yaydoo_examen_algoritmos_omar_arturo_lopez_rodriguez/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
